<div class="authentication-wrapper">
  <section class="authentication">

    <h2 class="login-title text-center">Sign up</h2>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

      <%= f.input :email, placeholder: 'Email', label: false %>
      <%= f.input :password, placeholder: 'Password', label: false %>
      <%= f.input :password_confirmation, placeholder: 'Password', label: false %>

      <div class="actions">
        <%= f.submit "Create your account", class: 'primary-button block btn' %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </section>
</div>
