<%= render "layouts/searchbar" %>

<div class="links-buttons">
  <div>
  <%= link_to 'List', folders_path, class: "folders-link active" %>
  </div>
  <div>
  <%= link_to 'Map', visualisations_path, class: "maps-link"  %>
  </div>
</div>

<p id="recherches"></p>


<div id="fold" data-folders="<%= @folders.to_json %>" data-tabs="<%= @tabs.to_json %>"></div>

