<%= render "layouts/searchbar" %>

<div class="links-buttons">
  <div>
  <%= link_to 'List', folders_path, class: "folders-link active" %>
  </div>
  <div>
  <%= link_to 'Map', visualisations_path, class: "maps-link"  %>
  </div>
</div>

<% @folders.each do |folder| %>
  <div id="pagesindex" class="user-search">
    <div class="user-search-header">

      <h3><%= folder.name %>  <%= link_to '', '', class: 'iconpen fas fa-pen' , :"data-tabs" => folder.to_json %></h3>
          <!-- test formulaire uptade -->
          <%= simple_form_for([ folder ], remote: true) do |form| %>
            <%= form.input :name , label: false %> <%= form.button :submit, value: "Update", class: 'bnt' %>
          <% end %>
          <!-- test formulaire uptade -->
      <%= link_to 'Open All', '', class: 'primary-button open-tabs' , :"data-tabs" => folder.tabs.to_json %>
    </div>
    <div class="cards-container" id="idfolder-${folder.id}">
      <% folder.tabs.each do |tab| %>
        <div class="tab-card">
          <img src="<%= tab.icon %>" class="icon-tab">
          <div class="tab-card-content">
            <a href="<%= tab.url %>" class="tab-link">
              <p class="tab-name"><%= tab.name %></p>
              <p class="tab-title"><%= URI.decode(tab.title) %></p>
            </a>
          </div>
          <div class="tab-card-actions">
            <a data-confirm="Are you sure?" class="delete-icon fas fa-times" rel="nofollow" data-method="delete" href="/tabs/24"></a>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
