<div class="container">

<%= render "layouts/searchbar" %>
<%= link_to 'data', data_path, class: "fas fa-database ml-3" %>

<div class="links-buttons">
  <%= link_to 'List', folders_path, class: "folders-link active" %>
  <%= link_to 'Map', visualisations_path, class: "maps-link"  %>
</div>

<h3 id="recherches"> Mes recherches </h3>

<div id="toto" data-folders="<%= @folders.to_json %>" data-tabs="<%= @tabs.to_json %>"></div>

</div>
