
<%= render "layouts/searchbar" %>

<h1>Results for " <%= params[:query] %> "</h1>
<div class="results-cards-container">
  <% @query_tabs.each do |tab| %>
    <div class="results-tab-card" id="<%= tab.id %>">
      <div class="results-tab-card-header-container">
      
        <img src="<%= tab.icon.nil? ? "http://imageshack.com/a/img924/7323/nbroSO.png" : tab.icon %>" class="avatar">
        <div class="tab-card-header tab-card-content">
          <a href="<%= tab.url %>" class="tab-link" target="_blank">
            <h3 class="tab-name"><%= tab.name %></h3>
            <p class="tab-title"><%= URI.decode(tab.title) %></p>
          </a>
        </div>
      </div>
      <div class="tab-body-description">
        <ul>
          <% results_sentences = tab.description.downcase.scan(/\w.{0,50}#{@key_word}.{0,60}/) %>
          <% results_sentences.uniq.each do |sentence| %>
            <% sentence = sentence.gsub(@key_word,"<strong>#{@key_word}</strong>") %>
            <li>« ... <%= sentence.html_safe %> ... »</li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>
</div>