<% content_for :meta_title, "My search #{@folder.name} on #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_image, image_path("singletab_white_black.png") %>

<div  class="containershow">
<h2><%= @folder.name %></h2>
<a class="fas fa-chart-bar ml-3" href="/visualisation/<%= @folder.id %>">Show map</a>
<a  class="fas fa-external-link-alt openAllLink" href="">Open all</a>

<% if @folder.folders != nil %> <!-- si le folder a un ou des enfants -->
  <% @folder.folders.each do |folder| %>
    <h3><%= folder.name %></h3> <!-- afficher le nom de chaque folder -->

    <h6>Tabs : </h6>
    <% @folder.tabs.each do |tab| %>
      <p><%= tab.name %></p> <!-- dans chaque folder, afficher chacune des tabs contenues -->
      <a href="<%= tab.url %>" class="btn" >Open</a>
    <% end %>
  <% end %>
<% end %>
<br>
<% @folder.tabs.each do |tab| %> <!-- si le folder parent (=la map) a des tabs sans folders enfants attitrés, ils sont affichés aussi -->
  <p><%= tab.url %></p>
  <p><%= tab.title %></p>
  <img src="<%= tab.icon %>" alt="">
<% end %>

<div id="showfold" data-folders="<%= @folder.attributes.merge({tabs: @folder.tabs}).to_json
 %>" data-tabs="<%= @folder.tabs.to_json %>"></div>

</div>


