<h1><%= @tab.name %></h1>
<a href="<%= @tab.url %>" class="btn btn-primary">Open</a>
<h3><%= @tab.title %></h3>
<img src='<%= @tab.title %>' alt="">
<p>Comment : <%= @tab.comment %></p>
<p>Body : <%= @tab.description %></p>


