<div class="authentication-wrapper">
  <section class="authentication">
    <h1 class="login-title text-center">Sign in</h1>

    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <%= f.input :email, placeholder: 'Email' %>
      <%= f.input :password, placeholder: 'Password' %>
      <%= f.input :remember_me, as: :boolean %>

      <div class="actions">
        <%= f.button :submit, 'Sign in', class: 'primary-button block' %>
      </div>
    <% end %>

    <div class="registration-links">
      <%= render "devise/shared/links" %>
    </div>
  </section>
</div>
