<header class="header">
  <nav class="navbar">
    <div class="wrapper">
      <span><a class="logo" href="https://www.singletab.site"><%= image_tag("singletab_black_and_white.png") %></a></span>
      <a href="https://www.singletab.site" class="url-title-singletab"><h1 class="title-singletab">SINGLETAB</h1></a>
      <ul class="menu">
        <li><%= link_to 'HOME', folders_path, class: 'menu-link' %></li>
        <li><a class="menu-link" href="#">FAQ</a></li>
        <li><a class="menu-link" href="#">CONTACT</a></li>
        <li><%= link_to('Logout', destroy_user_session_path, method: :delete, class: 'menu-link') %></li>
      </ul>
    </div>
    <div class="toggle">
      <div class="span span-one"></div>
      <div class="span span-two"></div>
      <div class="span span-three"></div>
    </div>
  </nav>
  <div class="mobile">
    <ul class="menu">
      <li class="menu-item">
        <%= link_to 'HOME', folders_path, class: 'menu-link' %>
      </li>
      <li class="menu-item">
        <a class="menu-link" href="#">FAQ</a>
      </li>
      <li class="menu-item">
        <a class="menu-link" href="#">CONTACT</a>
      </li>
      <li class="menu-item">
        <%= link_to('Logout', destroy_user_session_path, method: :delete, class: 'menu-link') %>
      </li>
    </ul>
  </div>
</header>