<!DOCTYPE html>
<html>
  <head>
    <title>Singletab</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application' %>

  </head>

  <body class="<%= body_class %>">
    <% if user_signed_in? %>
      <%= render 'layouts/navbar' %>
    <% end %>

    <div class="container">

      <%= yield %>

      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>

    </div>

    <%= javascript_pack_tag 'application' %>
  </body>
</html>
