<!DOCTYPE html>
<html>
  <head>
    <title>Singletab</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application' %>
 
  </head>

  <body>
    
    <% if controller_name != "sessions" %>
      <% if current_user != nil %>
        <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
      <% end %>
    <%end%>

    <div class="container">

      <%= yield %>

      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>

    </div>

    <script src="https://d3js.org/d3.v4.min.js"></script>
    <%= javascript_pack_tag 'application' %>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
